*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.container{
    max-width:400px;
    margin: auto;
}
.todo-form{
    display: flex;
    margin: 10px 0;
}

.todo-add-btn{
    padding: 5px 10px;
}
.todo-input{
    padding: 3px;
    width: 100%;
}

.todo-item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    box-shadow: 0 0 1px;
}

.todo-item__check{

}

.todo-item__title{
    margin-right: auto;
    margin-left: 10px;
}